body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    margin: 0;
    padding: 10px 0; 
    color: white;
    background-color: rgb(126, 173, 127);
    position: fixed; 
    width: 100%;
    bottom: 0; 
    left: 0; 
    text-align: center; 
    z-index: 10;
}

.footer li {
    display: inline-block;
    margin: 0 10px; 
    position: relative;
}