body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
}

.fondo {
    background-image: url('../../html/Images/village.png'); 
    background-size: cover; /* Cambiado a cover */
    background-repeat: no-repeat; 
    font-family: Arial, sans-serif;
    height: 100vh;
}

h1 {
    font-family: 'Ubuntu Sans', sans-serif;
    text-align: center;
    color: #000; 
    font-size: 50px; /* Ajusta el tamaño según lo necesites */
    margin: 50px;
}

.text_intro {
    width: 76%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgba(240, 240, 240, 0.8);
    color: #000; 
    border-radius: 10px; /* Bordes redondeados */

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 10px auto;
    margin-top: 50px; /* ajusta este valor según la cantidad de desplazamiento que desees */

}

.box {
    width: 45%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.7); /* Color con transparencia */
    color: #000; 
    border-radius: 10px; /* Bordes redondeados */
}

.box a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del div */
    cursor: pointer; /* Cambia el cursor al puntero al pasar por encima */
}

.box h2 {
    text-align: center;
    font-family: 'Ubuntu Sans';
}

p {

        font-family: 'Khala', sans-serif;    

}
